/* shared styles */
*{
   font-family: 'Work Sans', sans-serif;
}
.p-primary{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
/* nav start */
nav{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}
.nav-logo{
    display: flex;
    
}
.logo-img{
    margin-left:260px ;
    margin-right: 20px;
    margin-top: 10px;
}
.logo-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;

}
.logo-title span{
    color: #FF42A5;
}
.nav-items ul{
    display: flex;
    margin-right:70px ;

  
}
.nav-items ul li{
    list-style: none;
}
.nav-items  ul li div a{
    text-decoration: none;
    margin: 0px 20px;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;

    
}
.nav-follow-us{
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);  
    padding:18px 24px;
    margin-top: -20px;
 
}
/* header banner section */
.header-section{
    display: flex;
   padding: 0 240px;
   height: 1000px;
   background: #FFF;
   margin-bottom: 0;

}
.header-content{
   margin-top: 120px;
    
}
.header-title{
    color: #0B0223;
text-align: center;
font-size: 3rem;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 0;

}
.header-goat{
    text-align: center;
    font-size: 7rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.header-btn{
    display: flex;
}
.btn-primary{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    
    
}
.header-btn2{
   
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-left: 30px;
   

}
.header-img{
    margin-left: 400px;
}
/* online games section */
.online-games{
    text-align: center;
    margin-top:-300px;
    
}
.online-games h6{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;

}
.online-games h6 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.online-games p{
    margin-bottom: 60px;
}
.online-games-card{
    display: flex;
    margin: 0 auto;
    padding: 0 240px;
    justify-content: space-evenly;

}
.games-card{
    margin: 0 30px;
}
/* play instantly styles*/
.play-instantly{
    display: flex;
}
.play-instantly-content {
    margin-top:150px ;
    margin-left: 200px;
}
.play-instantly-content h6{
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;

}
.play-instantly-content h6 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-instantly-img{
   
    margin-top:50px ;
    margin-left: 270px;
}
.play-instantly-img .img2{
    position: relative;
    top: -240px;
    right: 170px;
}

/* for mobile responsive */
@media screen and (max-width:576px) {

    nav ,
    .nav-items ul,
    .header-section,
    .online-games-card,
    .play-instantly
    {
        flex-direction: column;
    }
    .nav{
        margin-bottom: 0;
    }
    .nav-logo{
        text-align: center;
        align-items: center;
    }
    .logo-img{
        margin: 20px;
    }
    .nav-items  ul li div {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }
    /* header banner section */
    .header-section{
        padding: 10px;
        margin-top: 0;
    }
    .header-img {
        margin: 0px;
    
    }
    .header-img img{
        width: 376px;
        margin-top: 20px;
    }
    .header-content{
        margin-top: 0;
    }
    /* online-games */
    .online-games{
        margin-top: -180px;
    }
    .online-games-card{
        padding: 0;
    }
    /* play instantly styles */
    .play-instantly{
        margin-top: -190px;
    }
    .play-instantly-content{
        margin-left: 0;
        padding:0 20px;

    }
    .play-instantly-img{
   
        margin-top:50px ;
        margin-left:0px;
    }
    .play-instantly-img img{
        width: 75%;
        margin-left: 52px;
    }
    .play-instantly-img .img2{
        position: relative;
        top: -80px;
        right: 30px;
        height: 140.083px;
        width: 30%;

    }
}
/* for tablet responsive */
@media screen and (min-width:576px) and (max-width:768px) {

    nav ,
    .nav-items ul,
    .header-section,
    .online-games-card,
    .play-instantly
   
    {
        flex-direction: column;
    }
    .nav-logo{
        text-align: center;
        align-items: center;
    }
    .logo-img{
        margin: 20px;
    }
    .nav-items  ul li div {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }
     /* header banner section */
     .header-section{
        padding: 10px;
        margin-top: 0;
    }
    .header-img {
        margin: 0px;
    
    }
    .header-img img{
        width: 90%;
        margin-top: 20px;
        margin-left: 30px;
    }
    .header-content , .header-content .header-btn{
        margin-top: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }
       /*online-games  */
  .online-games{
    margin-top: 30px;
  }
    .online-games-card{
        padding: 0;
    }
    /* play instantly styles */
    .play-instantly{
        margin-top: -190px;
    }
    .play-instantly-content{
        margin-left: 0;
        padding:0 20px;
        text-align: center;

    }
    .play-instantly-img{
   
        margin-top:50px ;
        margin-left:0px;
    }
    .play-instantly-img img{
        width: 75%;
        margin-left:100px;
    }
    .play-instantly-img .img2{
        position: relative;
        top: -170px;
        right: 60px;
        height: 260.083px;
        width: 35%;

    }
    
}